<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K9MTZ3G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Facebook JS -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="YCYayvHt"></script>
<!-- End Facebook JS -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id='mainNav'>
	<a href="/" class="navbar-brand"><img src='./images/favicon_io2/favicon-32x32.png' alt='Black clipart welder striking arc'>Best Welding Equipment</a>
	<button class="navbar-toggler custom-toggler" type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation'>
		<span class="navbar-toggler-icon">
		</span>
	</button>

	<div class="collapse navbar-collapse" id='navbarContent'>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class='nav-link' href="/" id='home-nav-link'>Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class='nav-link dropdown-toggle' href="#" id="safetyDropdown" role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Safety Equipment
				</a>
				<div class="dropdown-menu bg-dark" aria-labelledby='safetyDropdown'>
					<a href="/helmets" class="dropdown-item text-light" id='helmets-nav-link'>Helmets</a>
					<a href="./gloves" class="dropdown-item text-light" id='gloves-nav-link'>Gloves</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class='nav-link dropdown-toggle' href="#" id='welderDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Welders</a>
				<div class="dropdown-menu bg-dark" aria-labelledby="welderDropdown">
					<a href='./Multi-welders' class="dropdown-item text-light" id='multiprocess-nav-link'>Multiprocess Welders</a>
					<a href='./mig' class="dropdown-item text-light" id='multiprocess-nav-link'>MIG Welders</a>
					<a href='#' class='dropdown-item disabled' id='tig-nav-link'>TIG Welders</a>
					<a href='#' class='dropdown-item disabled' id='professional-nav-link'>Professional Welders</a>
				</div>
			</li>
			<li class='nav-item dropdown'>
				<a class='nav-link dropdown-toggle' href='#' id='blogDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Blog</a>

				<div class="dropdown-menu bg-dark" aria-labelledby='blogDropdown' id='blogDropdownMenu'>
					<h2 class='dropdown-header'>How To Learn To Weld</h2>
					<a href='/access-to-a-welder' class='dropdown-item text-light'>Access To A Welder</a>
					<a href="/protective-equipment" class="dropdown-item text-light">Protective Equipment</a>
					<a href="/learning-materials" class="dropdown-item text-light">Learning Materials</a>
					<a href="/how-and-what-to-practice" class="dropdown-item text-light">How And What To Practice</a>
					<h2 class='dropdown-header'>Basics of MIG Welding</h2>
					<a href='/parts-of-mig-welder' class='dropdown-item text-light'>Parts of a MIG Welder</a>
					<a href='/modes-of-transfer' class='dropdown-item text-light'>Modes of Transfer</a>


				</div>
			</li>
			<li class="nav-item">
				<a class='nav-link' href="./contact" id='contact-nav-link'>Contact</a>
			</li>
		</ul>
	</div>
</nav>