<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id='mainNav'>
	<a href="./index.html" class="navbar-brand">Best Welding Equipment</a>
	<button class="navbar-toggler" type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation'>
		<span class="navbar-toggler-icon">
		</span>
	</button>

	<div class="collapse navbar-collapse" id='navbarContent'>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class='nav-link' href="/">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class='nav-link dropdown-toggle' href="#" id="safetyDropdown" role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Safety Equipment
				</a>
				<div class="dropdown-menu bg-dark" aria-labelledby='safetyDropdown'>
					<a href="/helmets" class="dropdown-item text-light">Helmets</a>
					<a href="./gloves" class="dropdown-item text-light">Gloves</a>
				</div>
			</li>
			<li class="nav-item">
				<a class='nav-link' href="./Tools-and-Parts">Tools & Parts</a>
			</li>
			<li class="nav-item dropdown">
				<a class='nav-link dropdown-toggle' href="#" id='welderDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Welders</a>
				<div class="dropdown-menu bg-dark" aria-labelledby="welderDropdown">
					<a href="./MIG-welders" class="dropdown-item text-light">MIG Welders</a>
					<a href="./TIG-welders" class="dropdown-item text-light">TIG Welders</a>
					<a href='./Multi-welders' class="dropdown-item text-light">Multiprocess Welders</a>
				</div>
			</li>
			<li class="nav-item">
				<a class='nav-link' href="./about">About</a>
			</li>
			<li class="nav-item">
				<a class='nav-link' href="./contact">Contact</a>
			</li>
		</ul>
	</div>
</nav>