<div class="sidebar">
	<a href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.bestweldingequipment.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore' target="_blank" class='' data-href='http://www.bestweldingequipment.com'><img src='./images/Social/facebook.png' class='social facebook'></a>
	<a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-custom="true">
	<img src='./images/Social/pinterest.png' class='social pinterest'>
	</a>
	<a href='https://twitter.com/intent/tweet?text=@BestWelding11%20Just%20visited%20your%20site%20and%20...' target='_blank'><img src='./images/Social/twitter.png' alt='' class='social'></a>
	<a href='whatsapp://send?text=Check out bestweldingequipment.com' data-action='share/whatsapp/share' class='whatsapp' target="_blank"><img src='./images/Social/whatsapp.png' class='social whatsapp'></a>
</div>