<div class="sidebar">
	
	<a href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.bestweldingequipment.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore' target="_blank" class='' data-href='http://www.bestweldingequipment.com'><img src='./images/Social/facebook.png' class='social facebook'></a>
	<a href='https://www.pinterest.com/pin/create/button/?url=http://www.bestweldingequipment.com' data-pin-media='./images/favicon_io2/android-chrome-512x512.png' target="_blank"><img src='./images/Social/pinterest.png' class='social pinterest'></a>
	<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" target="_blank"><img src='./images/Social/twitter.png' alt='' class='social twitter'></a>
	<a href='whatsapp://send?text=Check out bestweldingequipment.com' data-action='share/whatsapp/share' class='whatsapp' target="_blank"><img src='./images/Social/whatsapp.png' class='social whatsapp'></a>
</div>