<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/Header') %>
	<title>About</title>
</head>
<body>

	<%- include ('partials/NavBar') %>
	<%- include ('partials/Background') %>



	<%- include ('partials/Footer') %>
	
</body>
</html>