<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/Header') %>
	<title>Thank You So Much!</title>
</head>
<body>

	<%- include ('partials/NavBar') %>
	<%- include ('partials/Background') %>

	<div class="success-container d-flex justify-content-center align-items-center">
		<h5 class='contact-success text-center mt-5 text-white'>Thank you so much for giving us your input! We truly appreciate it. Please let us know anything else we can help you with.</h5>
		
		
	</div>

	<%- include ('partials/Footer') %>
	
</body>
</html>