<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/Header') %>
	<title>Contact</title>
</head>
<body>
	<%- include ('partials/NavBar') %>
	<%- include ('partials/Background') %>

<div class="mig-container">
			<div class="row justify-content-center mt-5 mb-5">
				<div class='col-12 col-lg-8'>
					<h1 class="card ml-3 mr-3 p-1 ml-md-5 mr-md-5 p-md-3 bg-dark text-center">Best Welding Helmets</h1>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<a href='https://amzn.to/35XRrPQ' target="_blank"><img class='card-img-top p-lg-5' src='./images/Safety/Helmets/ESAB_Savage_A_40.jpg' alt='ESAB Savage A40'></a>
							<h2 class="card-title">ESAB Savage A40</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/35XRrPQ" target="_blank">This Is The One I Need</a></button>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<a href='https://amzn.to/2ZWDBcD' target="_blank"><img class='card-img-top p-lg-5' src='./images/Safety/Helmets/Miller_280051_Digital_Infinity_Relic.jpg' alt='Miller Electric 280051 Digital Infinity Relic'></a>
							<h2 class="card-title">Miller Electric 280051 Digital Infinity Relic</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/2ZWDBcD" target="_blank">This Is The One I Need</a></button>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<a href='https://amzn.to/3iPBX47' target="_blank"><img class='card-img-top p-lg-5' src='./images/Safety/Helmets/ESAB_Sentinel_A_50.jpg' alt='ESAB Sentinel A50'></a>
							<h2 class="card-title">ESAB Sentinel A50</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/3iPBX47" target="_blank">This Is The One I Need</a></button>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<a href="https://amzn.to/2RN87Bw" target="_blank"><img class='card-img-top p-lg-5' src='./images/Safety/Helmets/Miller_281000_Digital_Elite.jpg' alt='Miller 281000 Digital Elite'></a>
							<h2 class="card-title mt-2 mb-2">Miller 281000 Digital Elite</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/2RN87Bw" target="_blank">This Is The One I Need</a></button>
						</div>

					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<div class="ribbon ribbon-top-left"><span>Best Overall</span></div>
							<a href='https://amzn.to/2EnN99a' target="_blank"><img class='card-img-top p-lg-5' src='./images/Safety/Helmets/Lincoln_Electric_2450.jpg' alt='Lincoln Electric Viking 2450'></a>
							<h2 class="card-title mt-2 mb-2">Lincoln Electric Viking 2450</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/2EnN99a" target="_blank">This Is The One I Need</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>


<%- include ('partials/Footer') %>

</body>
</html>