<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/Header') %>
	<title>Contact</title>
</head>
<body>
	<%- include ('partials/NavBar') %>
	<%- include ('partials/Background') %>


	<div class="content">
		<p class='name-intro text-center mt-4'>Do you need the absolute</p><h1 class='name text-center'>Best Welding Equipment?</h1>

		<div class='home-container m-5'>
			<div class="row justify-content-center">
				<div class="col-sm-6 col-lg-4">
					<div class="card m-3 bg-light">
						<img src="./images/Home/MIG_Welder.png" alt="" class="card-img-top pl-5 pt-5 pr-5 mx-auto">
						<div class="card-body">
							<a href='./MIG-welders'>
							<h2 class="card-title">Best MIG Welders</h2>
							<p class="card-text">See which MIG welders have made the cut</p>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class='card m-3 bg-light'>
						<img src="./images/Home/TIG_Welder.png" alt="" class="card-img-top pl-5 pt-5 pr-5 mx-auto">
						<div class="card-body">
							<a href='./TIG-welders'>
							<h2 class="card-title">Best TIG Welders</h2>
							<p class="card-text">See which MIG welders have made the cut</p>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class='card m-3 bg-light'>
						<img src="./images/Home/Multi_Welder.png" alt="" class="card-img-top pl-5 pt-5 pr-5 mx-auto">
						<div class="card-body">
							<a href='./Multi-welders'>
							<h2 class="card-title">Best Multiprocess Welders</h2>
							<p class="card-text">See which MIG welders have made the cut</p>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class='card m-3 bg-light mb-5'>
						<img src="./images/Home/Safety_Equipment.png" alt="" class="card-img-top pl-5 pt-5 pr-5 mx-auto">
						<div class="card-body">
							<a href='./helmets'>
							<h2 class="card-title">Top Rated Safety Equipment</h2>
							<p class="card-text">See which MIG welders have made the cut</p>
							</a>
						</div>
					</div>
				</div>
				<div class='col-sm-6 col-lg-4'>
					<div class='card m-3 bg-light mb-5'>
						<img src="./images/Home/Tools_Parts.png" alt="" class="card-img-top pl-5 pt-5 pr-5 mx-auto">
						<div class="card-body">
							<a href='./Tools-and-Parts'>
							<h2 class="card-title">Tools & Parts</h2>
							<p class="card-text">See which MIG welders have made the cut</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<%- include ('partials/Footer') %>

</body>
</html>