<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/Header') %>
	<title>Best Mig Welders</title>
</head>
<body>
	<%- include ('partials/NavBar') %>
	<%- include ('partials/Background') %>

<div class="mig-container">
			<div class="row justify-content-center mt-5 mb-5">
				<div class='col-12 col-lg-8'>
					<h1 class="card ml-3 mr-3 p-1 ml-md-5 mr-md-5 p-md-3 bg-dark text-center">Best MIG Welders</h1>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<a href='https://amzn.to/2RWd8rz' target="_blank"><img class='card-img-top p-lg-5' src='./images/Welders/MIG/Lincoln_Electric_Power_MIG_210.jpg' alt='Lincoln Electric Power MIG 210'></a>
							<h2 class="card-title">Lincoln Electric Power MIG 210</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/2RWd8rz" target="_blank">This Is The One I Need</a></button>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<a href='https://amzn.to/33Ogja0' target="_blank"><img class='card-img-top p-lg-5' src='./images/Welders/MIG/Miller_Electric_120_240.jpg' alt='Miller Electric 120/240VAC, 1 Phase'></a>
							<h2 class="card-title">Miller Electric 120/240VAC, 1 Phase</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/33Ogja0" target="_blank">This Is The One I Need</a></button>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<a href='https://amzn.to/2RFE7r0' target="_blank"><img class='card-img-top p-lg-5' src='./images/Welders/MIG/Lotos_MIG_175.jpg' alt='Lotos MIG 175'></a>
							<h2 class="card-title">Lotos MIG 175</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/2RFE7r0" target="_blank">This Is The One I Need</a></button>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<a href="https://amzn.to/3hRrDXY" target="_blank"><img class='card-img-top p-lg-5' src='./images/Welders/MIG/Forney_Easy_Weld_261.jpg' alt='Forney Easy Weld 261'></a>
							<h2 class="card-title mt-2 mb-2">Forney Easy Weld 261</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/3hRrDXY" target="_blank">This Is The One I Need</a></button>
						</div>

					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<div class="ribbon ribbon-top-left"><span>Best Overall</span></div>
							<a href='https://amzn.to/2RKCPuM' target="_blank"><img class='card-img-top p-lg-5' src='./images/Welders/MIG/Hobart_Handler_210_MVP.jpg' alt='Hobart Handler 210 MVP'></a>
							<h2 class="card-title mt-2 mb-2">Hobart Handler 210 MVP</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/2RKCPuM" target="_blank">This Is The One I Need</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>


<%- include ('partials/Footer') %>

</body>
</html>