<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/Header') %>
	<title>Privacy Policy, Disclosure, Research Methods</title>
</head>
<body>
	<%- include ('partials/NavBar') %>
	<%- include ('partials/Background') %>

	<div class="container">
		<div class="mig-container">
			<div class="privacy">
				<div class="row justify-content-center mt-5 mb-5">
					<div class="col-12 col-lg-9">
						<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-light">
							<h1 class='text-center'>Privacy Policy of Best Welding Equipment</h1>

							<p>This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service, the Best Welding Equipment website.</p>

							<p>If you choose to use our website, then you agree to the collection and use of information in relation with this policy. The information that we collect is used for providing and improving the website. We will not use or share your information with anyone except as described in this Privacy Policy.</p>

							<h2 class='text-center'>Log Data</h2>

							<p>We want to inform you that whenever you visit our website, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer’s Internet Protocol ("IP") address, browser version, pages of our website that you visit, the time and date of your visit, the time spent on those pages, and other statistics.</p>

							<h2 class='text-center'>Cookies</h2>

							<p>Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer’s hard drive.</p>

							<p>Our website uses these "cookies" to collection information and to improve our website. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our website.</p>

							<h2 class='text-center'>Service Providers</h2>

							<p>We may employ third-party companies and individuals due to the following reasons:</p>

							<ul>
							    <li>To facilitate our Service;</li>
							    <li>To provide the Service on our behalf;</li>
							    <li>To perform Service-related services; or</li>
							    <li>To assist us in analyzing how our Service is used.</li>
							</ul>

							<h2 class='text-center'>Security</h2>

							<p>We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>

							<h2 class='text-center'>Links to Other Sites</h2>

							<p>Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

							<h2 class='text-center'>Children's Privacy</h2>

							<p>Our Services do not address anyone under the age of 13. We do not knowingly collect personal identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please <a href='/contact'>contact us</a> so that we will be able perform the necessary actions.</p>

							<h2 class='text-center'>Changes to This Privacy Policy</h2>

							<p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.</p>

							<h2 class='text-center'>Contact Us</h2>

							<p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to <a href='/contact'>contact us.</a></p>
						</div>
					</div>
					<div class="col-12 col-lg-9">
						<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-light">
							<h2 class='text-center'>Disclaimers for Best Welding Equipment</h2>

							<p>If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at <a href='mailto: bestweldingequipment@gmail.com' target="_blank"> bestweldingequipment@gmail.com.</a></p>

							<p>All the information on this website - BestWeldingEquipment.com - is published in good faith and for general information purpose only. Best Welding Equipment does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (Best Welding Equipment), is strictly at your own risk. Best Welding Equipment will not be liable for any losses and/or damages in connection with the use of our website.</p>

							<p>From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.</p>

							<p>Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.</p>

							<h2 class='text-center'>Consent</h2>

							<p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>

							<h2 class='text-center'>Update</h2>

							<p>Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
						</div>
					</div>
					<div class="col-12 col-lg-9">
						<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-light">
							<h2 class="text-center">Our Research Methods</h2>

							<p>When you're looking for the best welding equipment, you don't want to have to buy and test multiple products before you find the one that will work best for you. A lot of money can be saved if you use the experiences and research of someone else to make a more informed decision before deciding on a purchase.</p>

							<p>This is the reason that we take so much time finding the best welding products. We spend the time testing and researching so you won't have to, and you can spend your time using the product you have chosen and feeling confident that you have made the best choice for you.</p>

							<h2 class="text-center">Affiliate Disclosure</h3>

							<p>As we are part of the Amazon Affiliates Program, we do earn a small commission if you click through to Amazon and purchase one of the products that we have recommended. This means that you do not pay anything extra for the purchase, just that we get a small percentage of the purchase price from Amazon.</p>

							<p>Even though we may gain a small commission from purchases, it is our promise to you that we will never endorse or promote a product that we have not done extensive research on and would consider purchasing ourselves.</p>

							<h2 class="text-center">Research & Testing</h3>

							<p>We could not realistically test every reliable and worthwhile welding product that is available. It would honestly just be too costly. It would certainly be nice of companies like Lincoln Electric, Miller Welding, Hobart, and others would send us samples to test. Since they have not yet, we test the products that we can test.</p>

							<p>In addition to testing the products that we can test, we keep an eye on welding products, and the reception these products receive by consumers, in many places. We read consumer feedback across multiple sites (including Amazon) and include the good and the bad in our reviews and recommendations. We also frequently check the websites and social media profiles of many of these welding companies to keep up with their latest developments.</p>

							<p>With all of that said, please let us know if you have any worries, contacts, questions, or recommendations for us through or contact page! We want to hear from you.</p>


						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
	
	<%- include ('partials/Footer') %>
</body>
</html>