<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/Header') %>
	<title>Best TIG Welders</title>
</head>
<body>
	<%- include ('partials/NavBar') %>
	<%- include ('partials/Background') %>

<div class="mig-container">
			<div class="row justify-content-center mt-5 mb-5">
				<div class='col-12 col-lg-8'>
					<h1 class="card ml-3 mr-3 p-1 ml-md-5 mr-md-5 p-md-3 bg-dark text-center">Best TIG Welders</h1>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<a href='https://amzn.to/2RIpbIT' target="_blank"><img class='card-img-top p-lg-5' src='./images/Welders/TIG/Eastwood_TIG_200.jpg' alt='Eastwood TIG 200'></a>
							<h2 class="card-title">Eastwood TIG 200</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/2RIpbIT" target="_blank">This Is The One I Need</a></button>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<a href='https://amzn.to/35RYz0f' target="_blank"><img class='card-img-top p-lg-5' src='./images/Welders/TIG/Weldpro_Digital_TIG_200_GD.jpg' alt='Weldpro Digital TIG 200GD'></a>
							<h2 class="card-title">Weldpro Digital TIG 200GD</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/35RYz0f" target="_blank">This Is The One I Need</a></button>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<a href='https://amzn.to/35Ti8W0' target="_blank"><img class='card-img-top p-lg-5' src='./images/Welders/TIG/AHP_Alpha_TIG_200_X.jpg' alt='#3 MIG WELDER PICTURE'></a>
							<h2 class="card-title">AHP Alpha TIG 200X</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/35Ti8W0" target="_blank">This Is The One I Need</a></button>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<a href="https://amzn.to/2Hj2bhz" target="_blank"><img class='card-img-top p-lg-5' src='./images/Welders/TIG/Everlast_Power_TIG_200DV.jpg' alt='Everlast Power TIG 200DV'></a>
							<h2 class="card-title mt-2 mb-2">Everlast Power TIG 200DV</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/2Hj2bhz" target="_blank">This Is The One I Need</a></button>
						</div>

					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="card m-3 p-3 ml-md-5 mr-md-5 p-md-5 bg-dark">
						<div class="card-body text-center">
							<div class="ribbon ribbon-top-left"><span>Best Overall</span></div>
							<a href='https://amzn.to/35SuOwd' target="_blank"><img class='card-img-top p-lg-5' src='./images/Welders/TIG/Primeweld_Tig_225_X.jpg' alt='Primeweld TIG 225X'></a>
							<h2 class="card-title mt-2 mb-2">Primeweld TIG 225X</h2>
							<p class="card-text">Praesent lectus diam, vulputate id justo nec, commodo congue ex. Nullam sit amet nibh sem. Nam pulvinar orci nibh, sit amet tincidunt augue ultricies vitae. Vestibulum tempor maximus mauris, eget eleifend tortor. Donec erat lectus, maximus vitae iaculis elementum, pharetra vel diam. Curabitur id mauris suscipit, vestibulum libero non, molestie odio. Sed eget dolor fringilla, tempus tortor sed, ultrices nulla. Nulla porta hendrerit sem, quis consectetur lacus feugiat vel. Nulla et maximus ante, nec accumsan risus.</p>
							<button type ='button' class='btn btn-primary btn-large btn-block'><a href="https://amzn.to/35SuOwd" target="_blank">This Is The One I Need</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>





<%- include ('partials/Footer') %>

</body>
</html>