<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/Header') %>
	<title>Welding Tools and Parts</title>
</head>
<body>
	<%- include ('partials/NavBar') %>
	<%- include ('partials/Background') %>


	<div class="mig-container">
	</div>

	<%- include ('partials/Footer') %>

</body>
</html>